{{#if this}}
<div class="product-cart">
    <div class="close-icon">
        <img id='closeIcon' src="assets/images/close_x.svg" alt="close icon">
    </div>
    <div class="container-complex-card">
        <div class="box-wrapper">
            <div class="product-image" style="background-image: url(assets/images/{{this.image}});"></div>
            <h2 class="product-title">
                <span class="decoration-title red-decoration-title">{{this.title}}</span>
            </h2>
            <div class="dots-seperator"></div>
            <div class="product-wrapper">
                <div class="product-wrapper-left">
                    {{#ifCond this.category '===' "pizza" }}
                    <div class="form-group size">
                        <label for="pizza-size">ГОЛЕМИНА</label>
                        <div class="select-wrapper">
                            <select id="pizza-size" class="select-size form-control light-grey-bg text-select"
                                name="size-id">
                                <option class="sizes" value="0">Средна (6 ПАРЧЕТА)</option>
                                <option class="sizes" value="1">Голяма (8 ПАРЧЕТА)</option>
                                <option class="sizes" value="2">Джъмбо (12 ПАРЧЕТА)</option>
                            </select>
                            <div class='selected'></div>
                        </div>
                    </div>
                    <div class="form-group pan">
                        <label for="pizza-pan">ТЕСТО</label>
                        <div class="select-wrapper">
                            <select name="pan-size-id" id="pizza-pan"
                                class="select-size form-control light-grey-bg text-select">
                                <option value="Traditional" price="0">Традиционно</option>
                                <option value="Italian" price="0">Италиански стил</option>
                                <option value="Thin" price="0">Тънко и хрупкаво</option>
                                <option value="Philadelphia" price="2.25">с Philadelphia (+2.25лв)</option>
                                <option value="Whole grain" price="0">Пълнозърнесто</option>
                            </select>
                        </div>
                    </div>
                    {{/ifCond}}
                    <div class="sub_toppings_container">
                        <div class="flex space-between">
                            <p class="pull-left font-bold">Продукти</p>
                            <p id="edit-toppings-btn" class="font-bold pointer">МОДИФИЦИРАЙ</p>
                        </div>
                        <div id="strIngredientContainer" class="ingredients">
                            {{this.stringifiedIngredients}}
                        </div>
                    </div>
                </div>
                <div class="product-wrapper-right">
                    <div>
                        <div class='weight-image'>
                            <img style="height:50px;" src="assets/images/weight.svg" alt="weight">
                            <div class="weight_cont">{{this.weight}}g</div>
                        </div>
                        <div class="quantity">
                            <p class="font-bold">КОЛИЧЕСТВО</p>
                            <div class="product-quantity-wrapper"></div>
                            <img id="minus" class="pointer" alt="minus" src="assets/images/minus.svg">
                            <span id="selectedQuantity" class="product-quantity noselect Quantity">1</span>
                            <img id="plus" class="pointer" alt="plus" src="assets/images/plus.svg">
                        </div>
                    </div>
                    <div class="price">
                        <p class='font-bold'>Цена</p>
                        <div class="product-total-price">
                            {{#ifCond this.category '===' "pizza" }}
                            <span id="currentPrice" class="total-price">{{this.price.[0]}}</span><span class="currency">
                                лв.</span>
                            {{else}}
                            <span id="currentPrice" class="total-price">{{this.price}}</span><span class="currency">
                                лв.</span>
                            {{/ifCond}}
                        </div>
                        <div class="save-20 hidden-xs">
                            <em>
                                <strong>Cпестете до 20%</strong>
                            </em>
                            <span class="left_ribbon"></span>
                            <span class="right_ribbon"></span>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <button id="addBtn" class="button rounded addButton green-button">ДОБАВИ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounted margin-bottom-50">
            <div class="rounded-left"></div>
            <div class="rounded-center"></div>
            <div class="rounded-right"></div>
        </div>
    </div>
</div>
<div id="toppings-wrapper" class="hidden">
    <h2 class="text-center white-txt">
        <span class="decoration-title white-decoration-title">ПРОДУКТИ - {{this.title}}</span>
    </h2>
    <div class="toppings-container main-wrapper">
        {{{printProductIngredients this}}}
    </div>
</div>
{{/if}}